body {
	margin: 0;
	padding: 0;
	background: url(./../static/images/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

h1, h2, h3 {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000000;
}

h1 { font-size: 44px; }

h2 
{ 
	font-size: 18px; 
	text-transform: normal;	
}

h3 {
	text-transform: uppercase;
}

p, ul, ol {
	margin-top: 0;
}

p.center
{
	text-align: center;
}
p.right
{
	text-align: right;
}
ul, ol { }

blockquote {
	color: #323232;
	background: #f0f0f0;
	padding: 5px;
	font: 11px Courier New;
	margin: 0;
	border: 1px solid #d2d2d2;
}
table.float
{
	margin: 5px;
	float: left;
	height: 200px;
	width: 200px;
	display: block;
}
a { color: #104d7a; }

a:hover { text-decoration: none; }

a img {
	border: none;
}
img.uploader
{
	width: 100px;
	height: 75px;
	display: block;
}
img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}
img.deleteimage
{
	width:20px;
	height: 20px;
	padding: 0 0 0 90%;
}
hr { display: none; }

span.col
{
	width: 100px;
	display: block;
	padding: 5px 0 0 0;
	color: #000;
	float: left;
}
span.red
{
	color: red;
}
span.green
{
	color: #1ea60c;
}
input.save
{
	margin: 0 0 0 182px;
}
input.bloki
{
	margin: 0 0 0 191px;
}
input.akceptuj
{
	margin: 0 0 0 173px;
}
input.news
{
	margin: 0 0 0 200px;
}
input.tytul
{
	font-size: 12px;
	color: #464646;
}
input.text
{
	width: 495px; 
}
textarea.text
{
	width: 595px; 
}
.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
}

/* Header */

#header-wrapper {
}

#header {
	width: 920px;
	height: 45px;
	margin: 0 auto;
}

/* Menu */

#menu {
	float: left;
	width: 920px;
	height: 45px;
}

#menu ul {
	margin: 0;
	padding: 2px 0px 0px 5px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	margin-right: 0;
	padding: 15px 25px 2px 25px;
	text-decoration: none;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	outline: none;
}

#menu .current_page_item a, #menu a:hover  {
	height: 42px;
	background: url(../static/images/img02.jpg) repeat-x left top;
	color: #FFFFFF;
}

#menu .first {
	background: none;
}

/* Page */

#page {
	width: 920px;
	margin: 0 auto;
}

#page-bgtop {
	padding-top: 30px;
}

	/** LOGO */

#logo {
	width: 920px;
	height: 134px;
	margin: 0 auto;
	background: url(../static/images/img04.jpg) no-repeat left top;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	text-transform: lowercase;
	font-weight: normal;
	color: #FFFFFF;
}

#logo p {
	text-transform: lowercase;
	font-size: 12px;
}

#logo h1 {
	padding-top: 40px;
	font-size: 40px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Content */

#content {
	float: right;
	width: 658px;
	padding-top: 10px;
	padding-right: 30px;
}

/* Post */

.post {
	background: url(../static/images/img07.jpg) repeat-x left bottom;
	margin-bottom: 25px;
	clear: both;
}

.post .title {
	height: 30px;
	color: #40a4ff;	
}

.post .title a {
	text-decoration: none;
	color: #104d7a;
}

.post .date {
}

.post .meta {
	margin-top: -10px;
	padding: 10px 0px 2px 16px;
	background: url(../static/images/img03.gif) no-repeat left 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #000000;
}

.post .meta span {
	display: block;
	margin-top: -10px;
}

.post .meta a { }

.post .entry {
	padding: 10px 0;
}

.post .links {
	margin: 0 250px 0 0;
	padding: 0 0 0 0px;
}

.post .links .comments {
}

.post .links .permalink {
	padding-left: 17px;
}
/*.m_image
{
	float: left;
	width:  150px;
	height: 200px;
	display: block;
	margin: 5px 2px;
	overflow: hidden;
}*/
/* Sidebar */

#sidebar {
	float: left;
	width: 177px;
	padding-left: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #104d7a;
}
/**/
.entry ul {
	margin: 0;
	padding: 5px 0 0 15px;
	list-style: square;
	line-height: normal;
}

.entry li {
	padding: 0 0 3px 0px;
	font-size: 11px;
}
.entry li a {
	padding: 0 0 3px 0px;
	font-size: 11px;
	text-decoration: none;
}

/**/
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
	padding: 7px 10px 10px 7px;
	background: url(../static/images/img07.jpg) repeat-x left bottom;
}

#sidebar p {
	margin: 0;
	padding: 0px 10px;
}

#sidebar h2 {
	height: 26px;
	margin: 0 0 10px 0px;
	padding: 12px 0 2px 7px;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: normal;
	color: #464F54;
}


#sidebar p {
	line-height: 200%;
}
#sidebar a {
	text-align: left;
	text-decoration: none;
	font-weight: normal;
	color: #104d7a;
}

/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-right: 1px solid #24130F;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	background: #24130F;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
	padding: 5px;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
	border-top: 1px solid #24130F;
	text-align: right;
}

#calendar tfoot #prev {
	border-top: 1px solid #24130F;
}

#calendar .pad {
	border-bottom: 1px solid #24130F;
}

#calendar #today {
	background: #24130F;
}

/* Footer */

#footer {
	width: 920px;
	height: 49px;
	margin: 0 auto;
	padding-top: 50px;
}

#footer-bgcontent {
	margin: 0px;
	padding: 0px;
	height: 99px;
	background: #23282b;
}

#footer p {
	margin: 0;
	text-align: right;
	line-height: normal;
	text-transform: normal;
	font-size: 10px;
	color: #FFFFFF;
}

#footer a {
	color: #ffffff;
}

h1.art
{
 color: #000;
 height: auto;
 width: auto;
 background: none;
 font-family: "Trebuchet MS", "Arial", "Verdana", "Tahoma";
 text-transform: uppercase;
 font-size: 18px;
 margin: 0;
 padding: 0;
 line-height: 120%;
}

h2.art
{
 background: url('../static/images/button.png') no-repeat;
 padding:0;
 margin: 0 0 15px 0;
 color: #015aab;
 font-family: "Trebuchet MS", "Arial", "Verdana", "Tahoma";
 font-size: 14px;
 font-weight: normal;
 line-height: 100%;
}

p.art
{
 font-size: 11px;
 margin: 0 0 10px 0;
 padding: 0 10px 0 0;
 color: #6a6e70;
 background: url('../static/images/more.gif') no-repeat right center;
 text-align: right;
 display: block;
}
/*tweet box*/

#box
{
	margin: 10px auto;
	width: 300px;
	background: #fff;
	border: 1px solid #bababa;
	padding: 10px;
	border-radius: 10px;
	font-family: Georgia;
	color: #676767;
}
#box .twittername
{
	font-size: 18px;
	padding: 3px;
	font-family: Georgia;
}

#box ul
{
	list-style: none;
	margin: 0;
	padding: 10px;
	font-size: 12px;
}
#box li
{
	padding: 5px 0 5px 0;
	border-bottom: 1px dashed #bababa;
}

#box .twittername a:link, #box .twittername a:visited
{
	color: #6accff;
	text-decoration: none;
}
#box .twittername a:hover, #box .twittername a:visited:hover
{
	color: #6accff;
	text-decoration: underline;
}
#box a:link, #box a:visited
{
	color: #0092ac;
	text-decoration: none;
}
#box a:hover, #box a:visited:hover
{
	color: #1eb6d1;
	text-decoration: underline;
}