{% extends 'base.html' %}

{% block content %}
<h1>Nowy szablon</h1>

{% if error %}
{{ error }}
<br />
<br />
{% endif %}

    <div class="container-fluid text-center">
		<div class="col-sm-12">
			<div class="alert alert-success">
				W celu dodania parametru użyj znacznika "[[nazwa_parametru]]"
			</div>
		</div>
	</div>
<!-- <form action="./index.php?str=2&insert_temp=1" method="post"> -->
<form method="POST" action="{% url 'posts:editor' %}">
  {% csrf_token %}

  <div class="row content">
    <div class="col-sm-2 sidenav">
        Nazwa:<br/><input type="text" name="name" value=""><br/><br/>
        Opis:<br/><input type="text" name="description" value=""><br/><br/>
        Tag:<br/><input type="text" name="tags" value=""><br/><br/>
        Publiczny:<input type="checkbox" name="access" value="1" ><br/><br/>
        <input type="submit" name="add" alt="Dodaj szablon" value="Dodaj Szablon" >
    </div>
    <div class="col-sm-10 text-left">

    <textarea name="text" style="text-align: center; font-size: 15px;"></textarea>
    </div>
  </div>
</form>

{% load static %}
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript">
	tinymce.init({
        selector: 'textarea',
        height: 500,
        theme: 'modern',
        plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools'
        ],
        toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        toolbar2: 'print preview media | forecolor backcolor emoticons',
        image_advtab: true,
	});
    </script>
{% endblock %}
